<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <%= link_to 'Tomboy Notes', :controller => :tomboy_notes, :action => :index, :user_id => @user.id %>
</p>

<p>
  <%= link_to 'Pidgin Accounts', :controller => :pidgin_accounts, :action => :index, :user_id => @user.id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
