<h1>Listing pidgin accounts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Status</th>
    <th>Message</th>
    <th>Protocol</th>
    <th>Icon</th>
  </tr>

<% for pidgin_account in @pidgin_accounts %>
  <tr>
    <td><%=h pidgin_account.user_id %></td>
    <td><%=h pidgin_account.name %></td>
    <td><%=h pidgin_account.status %></td>
    <td><%=h pidgin_account.message %></td>
    <td><%=h pidgin_account.protocol %></td>
    <td><%=h pidgin_account.icon %></td>
    <td><%= link_to 'Show', pidgin_account %></td>
    <td><%= link_to 'Edit', edit_pidgin_account_path(pidgin_account) %></td>
    <td><%= link_to 'Destroy', pidgin_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pidgin account', new_pidgin_account_path %>
