<h1>Listing pidgin accounts for <%=h @user.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Message</th>
    <th>Protocol</th>
    <th>Icon</th>
  </tr>

<% for pidgin_account in @pidgin_accounts %>
  <tr>
    <td><%=h pidgin_account.name %></td>
    <td><%=h pidgin_account.status %></td>
    <td><%=h pidgin_account.message %></td>
    <td><%=h pidgin_account.protocol %></td>
    <td><%=h pidgin_account.icon %></td>
    <td><%= link_to 'Show', :action => :show, :id => pidgin_account.id, :user_id => @user.id %></td>
    <td><%= link_to 'Edit', :action => :edit, :id => pidgin_account.id, :user_id => @user.id %></td>
    <td><%= link_to 'Destroy', {:action => :destroy, :id => pidgin_account.id, :user_id => @user.id}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pidgin account', :action => :new, :user_id => @user.id %>
