<p>
  <b>User:</b>
  <%=h @pidgin_account.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @pidgin_account.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @pidgin_account.status %>
</p>

<p>
  <b>Message:</b>
  <%=h @pidgin_account.message %>
</p>

<p>
  <b>Protocol:</b>
  <%=h @pidgin_account.protocol %>
</p>

<p>
  <b>Icon:</b>
  <%=h @pidgin_account.icon %>
</p>


<%= link_to 'Edit', :action => :edit, :id => @pidgin_account, :user_id => @user.id %> |
<%= link_to 'Back', :action => :index, :user_id => @user.id %>
