<h1>Editing tomboy note</h1>

<% form_for(@tomboy_note) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :guid %><br />
    <%= f.text_field :guid %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', :action => :show, :id => @tomboy_note, :user_id => @user.id %> |
<%= link_to 'Back', :action => :index, :user_id => @user.id %>
