<h1>Listing tomboy notes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Body</th>
    <th>Tag</th>
  </tr>

<% for tomboy_note in @tomboy_notes %>
  <tr>
    <td><%=h tomboy_note.user_id %></td>
    <td><%=h tomboy_note.name %></td>
    <td><%=h tomboy_note.body %></td>
    <td><%=h tomboy_note.tag %></td>
    <td><%= link_to 'Show', tomboy_note %></td>
    <td><%= link_to 'Edit', edit_tomboy_note_path(tomboy_note) %></td>
    <td><%= link_to 'Destroy', tomboy_note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tomboy note', new_tomboy_note_path %>
