
<p>
  <b>Name:</b>
  <%=h @tomboy_note.name %>
</p>

<p>
  <b>Body:</b>
  <%=h Base64.decode64(@tomboy_note.body) %>
</p>

<p>
  <b>guid:</b>
  <%=h @tomboy_note.guid %>
</p>

<p>
  <b>Tag:</b>
  <%=h @tomboy_note.tag %>
</p>


<%= link_to 'Edit', :action => :edit, :id => @tomboy_note, :user_id => @user.id %> |
<%= link_to 'Back', :action => :index, :user_id => @user.id %>
