<p>
  <b>User:</b>
  <%=h @tomboy_note.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @tomboy_note.name %>
</p>

<p>
  <b>Body:</b>
  <%=h Base64.decode64(@tomboy_note.body) %>
</p>

<p>
  <b>Tag:</b>
  <%=h @tomboy_note.tag %>
</p>


<%= link_to 'Edit', edit_tomboy_note_path(@tomboy_note) %> |
<%= link_to 'Back', tomboy_notes_path %>
